body {
    color: #666;
}

h1,h2,h3,h4,h5,h6 {
    color: #111;
}

.banner {
    background: transparent
      url("images/smile_team.jpeg")
      0 0 no-repeat;
    text-align: center;
    background-size: contain;
    background-position:center;  
    height: 300px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}
  
.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 2em;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 1000px;
    margin-bottom: 50px;
}

.content-text {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}

.header .pure-menu {
    border-bottom-color: black;
    border-radius: 0;
}

.pure-menu-link {
    padding: 1em .7em;
}

.pure-menu-image {
    height:50px;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}
